@font-face {
    font-family: 'IM FELL English';
    src: url('IM_FELL_English_Roman.woff2') format('woff2'),
        url('IM_FELL_English_Roman.woff') format('woff'),
        url('IM_FELL_English_Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL English';
    src: url('IM_FELL_English_Italic.woff2') format('woff2'),
        url('IM_FELL_English_Italic.woff') format('woff'),
        url('IM_FELL_English_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

