*, body {
  font-family: 'IM FELL English', serif;
}

#root .card{
  position: relative;
  border: none;
  border-radius: 0 ;
  background-image:url(../public/images/card_bg.jpg);
  background-size: cover;
}


#root .homeRow .col{
  margin-top: 20px;
  margin-bottom: 20px;
}

#root .homeRow .card .btn-primary{
  background-color: #3b71ca;
  box-shadow: #3b71ca;
  border-color: #3b71ca;
}

#root .card .card-header{
  border:none;
}

#root .card::before,
#root .card::after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0,0,0,.7);
  z-index: -1;
  transition: all .3s ease-in-out;
  background-image:url(../public/images/card_bg.jpg);
  background-size: cover;
}

#root .card::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

#root .card::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

#root .card:hover::before,
#root .card:hover::after {
  box-shadow: 0 2px 14px rgba(0,0,0,.4);
}

#root .card:hover::before {
  left: 5px;
}

#root .card:hover::after {
  right: 5px;
}

.shadow-box {
  box-shadow: 0 5px 5px rgba(0,0,0,.3);
}

.shadow-box.with-text {
  padding: 1em;
  text-decoration: none;
  background-color: white;
}

.feature-story {
  box-shadow: 0 4px 10px rgba(0,0,0,.7);
  display: block;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 1em;
  margin: 0.2em;
}

.masonry-with-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 1000px;
}

.masonry-with-columns div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 2rem;
}